<Configuration name="ConfigTest" status="WARN" monitorInterval="5">

    <Appenders>
        <!-- Console -->
        <Console name="Console">
            <PatternLayout pattern="%m%n"/> <!--formatting-->
        </Console>
        <!-- File -->
        <File name="File" fileName="D:\Java\log4j - logs.xml"> <!--path to file-->
            <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/> <!--formatting-->
        </File>
    </Appenders>

    <Loggers>
        <!-- level - will show this and more severe levels -->
        <Logger name="org.example" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>